/* footer */
.footer {
    width: auto;
    height: 200px; 
    margin: auto;
    margin-top: 50px;
}
#footer-1 {
    width: auto;
    height: 20%;
    padding-left:50px;
    border-top: 1px solid none;
    border-bottom: 1px solid none;
}
#footer-2 {
    width: auto; 
    height: 80%;
    margin-top: 20px;
    padding-left:50px;
    font-size: 12px;
    text-align: center;
    color: #666;
}

#footer-1 > a {
    margin: 10px;
    line-height: 40px;
    font-weight: 600;
    text-decoration: none;
    color:black;
}

#footer-2 > p {
    margin: 0;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    border: none;
}
